@import url(""https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap"")
@import url("components/avatar.css");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: "Instrument Serif";
	background-color: #FFF4EA ;
}
h1, h2, h3 {
	color: #A34343 ;
	font-weight: bold;
}
a {
	text-decoration: none;
}